version: "3.9"
services:
  web:
    build:
      context: .
      target: web
    ports:
      - "8000:5000"
    volumes:
      - ./frontend:/tsmc-project/frontend
    environment:
      FLASK_ENV: development

  crawler:
    build:
      context: .
      target: crawler
    volumes:
      - .:/tsmc-project
    
  worker:
    build:
      context: .
      target: worker
    volumes:
      - .:/tsmc-project    

  # worker:
  #     build: ./worker_nodes
  #     ports:
  #     - "8002:5000"
  #     volumes:
  #       - ./worker_nodes:/code
  #     environment:
  #       FLASK_ENV: development
  redis:
    image: "redis:alpine"
  mongodb-server:
    image: "mongo"
  # rq-dashboard:
  #   image: "eoranged/rq-dashboard"
  #   ports:
  #     - "8001:9181"



