version: "3.9"
services:
  web:
    image: chkao777/tsmc-project:web
    build:
      context: .
      target: web
    ports:
      - "8000:5000"
    volumes:
      - ./frontend:/tsmc-project/frontend
    environment:
      FLASK_ENV: development

  nodeserver:
    image: chkao777/tsmc-project:nodeserver
    build:
      context: .
      target: nodeserver

  crawler:
    image: chkao777/tsmc-project:crawler
    build:
      context: . 
      target: crawler
    # volumes:
    #   - ./crawler:/tsmc-project/crawler
  crawler-controller:
    image: chkao777/tsmc-project:crawler-controller
    build:
      context: .
      target: crawler-controller

  worker:
    image: chkao777/tsmc-project:worker
    build:
      context: .
      target: worker
    # volumes:
    #   - ./worker:/tsmc-project/worker

  # worker:
  #     build: ./worker_nodes
  #     ports:
  #     - "8002:5000"
  #     volumes:
  #       - ./worker_nodes:/code
  #     environment:
  #       FLASK_ENV: development
  redis:
    image: "redis:alpine"
  mongodb-server:
    image: "mongo"
  # rq-dashboard:
  #   image: "eoranged/rq-dashboard"
  #   ports:
  #     - "8001:9181"



