<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <p>TSMC_final_project</p>
            <a href="/wordcount" class="btn btn-secondary btn-block">wordcount</a>
            <a href="/urlcount" class="btn btn-secondary btn-block">urlcount</a>
        </div>
    </div>
</div>